---
import './src/styles/global.css' 
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---
    <section
      class="items-center justify-between p-10 grid grid-cols-2 [&>div]:px-20"
    >
      <div class="">
        <h1 class="text-white text-5xl py-10">
          Obtén una oferta excelente en seguridad digital excelente.
        </h1>
        <p class="text-white text-xl">
          Mantén tu actividad en línea segura y privada en varios dispositivos
          sin perder velocidad. Disfruta la oferta especial en los poderosos
          planes de seguridad de Kaspersky.
        </p>
      </div>
      <div class="">
        <img src="/Desktop.webp" alt="Imagen de laptop" />
      </div>
    </section>

<style>
</style>
