---
import Logo from './Logo.astro';
---

<div class="flex justify-between items-center py-4 px-10 bg-white shadow-md">
    <div >
        <Logo />
    </div>
    <nav class=" [&>a]:px-5 [&>a]:hover:bg-gray-200 [&>a]:rounded-lg">
        <a href="">Hogar</a>
        <a href="">Empresa</a>
        <a href="">Socios</a>
        <a href="">Acerca de nosotros</a>
    </nav>
</div>