---
import CardSegurity from "../components/CardSegurity.astro";
import "./src/styles/global.css";
import "@fontsource/trirong";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-gradient-to-bl from-blue-500 to-purple-600 w-full h-full">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    font-family: "Trirong", serif;
  }
</style>
